update_alarm_state:
  fields:
    device_id:
      required: true
      example: "8f4219cfa57e23f6f669c4616c2205e2"
      selector:
        device:
          filter:
            - integration: zwave_js
              manufacturer: Ring
    alarm_state:
      required: true
      example: "armed_away"
      selector:
        select:
          translation_key: "alarm_state"
          options:
            - "armed_away"
            - "armed_home"
            - "arming"
            - "disarmed"
            - "pending"
            - "triggered"
    delay:
      required: false
      example: 30
      selector:
        number:
          min: 0
          max: 300
    volume:
      required: false
      example: 50
      selector:
        number:
          min: 0
          max: 100
chime:
  fields:
    device_id:
      required: true
      example: "8f4219cfa57e23f6f669c4616c2205e2"
      selector:
        device:
          filter:
            - integration: zwave_js
              manufacturer: Ring
    chime:
      required: true
      example: "double_beep"
      selector:
        select:
          translation_key: "chime"
          options:
            - "invalid_code"
            - "need_bypass"
            - "double_beep"
            - "guitar_riff"
            - "wind_chime"
            - "bing_bong"
            - "doorbell"
    volume:
      required: false
      example: 50
      selector:
        number:
          min: 1
          max: 100
alarm:
  fields:
    device_id:
      required: true
      example: "8f4219cfa57e23f6f669c4616c2205e2"
      selector:
        device:
          filter:
            - integration: zwave_js
              manufacturer: Ring
    alarm:
      required: true
      example: "generic"
      selector:
        select:
          translation_key: "alarm"
          options:
            - "generic"
            - "burglar"
            - "smoke"
            - "co2"
            - "medical"
    volume:
      required: false
      example: 50
      selector:
        number:
          min: 1
          max: 100
